<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="x5webview-cordova-plugin" version="1.1.3">

  <name>x5engine WebView Engine</name>
  <description>use x5webview for cordova to get a better webview browsing experience</description>
  <license>Apache 2.0</license>
  <keywords>x5webview,webview,chromium,cordova</keywords>

  <!-- <engines>
    <engine name="cordova-android" version=">=6.3.0"/>
    <engine name="cordova-plugman" version=">=5.2.0"/>
  </engines> -->
  <js-module name="x5webview-cordova-plugin" src="www/x5webview-cordova-plugin.js">
        <clobbers target="cordova.plugins.x5webview-cordova-plugin" />
    </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*" >
      <preference name="webView" value="org.apache.cordova.x5engine.X5WebViewEngine"/>
      <preference name="appUserAgent" value="x5webview"/>
      <feature name="x5webview-cordova-plugin">
        <param name="android-package" value="x5webview-cordova-plugin.x5webview-cordova-plugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    </config-file>

    <source-file src="src/android/src/org/apache/cordova/x5engine/X5CookieManager.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5CordovaClientCertRequest.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5CordovaHttpAuthHandler.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5ExposedJsApi.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5WebChromeClient.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5WebView.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5WebViewClient.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>
    <source-file src="src/android/src/org/apache/cordova/x5engine/X5WebViewEngine.java" target-dir="app/src/main/java/org/apache/cordova/x5engine"/>

    <lib-file src="src/android/libs/tbs_sdk_thirdapp_v3.6.0.1234_43608_sharewithdownload_withoutGame_obfs_20180510_111111.jar"/>
    <resource-file src="src/android/libs/armeabi/liblbs.so" target="jniLibs/armeabi/liblbs.so"/>

    <hook type="after_plugin_install" src="hooks/after_plugin_install/000-shared_mode_special.js"/>
    <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall/000-shared_mode_special.js"/>
    <hook type="after_build" src="hooks/after_build/000-build_64_bit.js"/>
    <hook type="before_build" src="hooks/before_build/000-build_64_bit.js"/>
  </platform>

  <info>

  </info>
</plugin>
